<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>完了ページ</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <header id="header"></header>
  <main>
    <div class="container">
      <div class="complete-area">
        <p class="title">完了一覧</p>
        <div class="headline">
          <span class="contents">内容</span>
          <span class="plan">完了日</span>
        </div>
          <ul id="complete-list">
            <div class="list-row">
              <li>完了したTODO</li>
              <div class="item-area">
                <span class="detail-plan">2023/11/17</span>
                <button onclick="location.href='complete_edit_text.html'">編集</button>
                <button>削除</button>
                <button onclick="location.href='complete_change_text.html'">未完了へ変更</button>
             </div>
            </div>
          </ul>
      </div>
    </div>
  </main>
  <script src="../config/index.js"></script>
  <script type="text/javascript">
    getItems(true);
  </script>
</body>
</html>