<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODOを変更する</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script type="text/javascript">
    // loadされた直後に実行される事
    window.onload = () => {
    // URLパラメーターからデータを取得
    const params = new URLSearchParams(window.location.search);
    const date = new Date(params.get('date'));
    const formattedDate = date.toLocaleString("ja-JP", {
      year: "numeric",
      month: "numeric",
      day: "numeric",
    });

    // 元の日付をフォームに表示("/"で文字列を分割し、分割された文字列を"-"で繋ぐ)
    document.getElementById('change-date').value = formattedDate.split("/").join("-");
    };
  </script>
</head>
<body>
  <header id="header"></header>
  <main>
    <div class="container">
      <form action="javascript:void(0);" method="put" onsubmit="change_updateItem()">
        <div class="complete-area">
          <div class="another-page">
            <p>完了日</p>
            <input id="change-date" type="date">
          </div>
          <div class="end_button">
            <button type="submit">終了</button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <script src="../config/index.js"></script>
</body>
</html>